<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="{{ site.description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sean Q. Sun</title>
  <!--link rel="stylesheet" href="{{ site.baseurl }}/static/css/normalize.css"-->
  <link rel="stylesheet" href="{{ site.baseurl }}/static/css/main.css">
  
 <link href="http://fonts.googleapis.com/css?family=Raleway:300,300italic,400,400italic,700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Ubuntu+Mono" rel="stylesheet">
 <!--<link href="http://fonts.googleapis.com/css?family=Fira+Sans:300,300italc,400,400italic,500,700" rel="stylesheet">
<link href="http://fonts.googleapis.com/css?family=Raleway:300,300italc,400,400italic,500,700" rel="stylesheet">
<link href="http://fonts.googleapis.com/css?family=Bitter:300,300italc,400,400italic,500,700" rel = "stylesheet">
<link href="http://fonts.googleapis.com/css?family=Ubuntu:300,300italc,400,400italic,500,700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Ubuntu+Mono" rel="stylesheet">
-->
<script src="{{ site.baseurl }}/static/js/jquery.js"></script>
<script type="text/javascript">
    var host = "seanqsun.com">
    if ((host = window.location.host) && (window.location.protocol != "https:"))
        window.location.protocol = "https";
</script>

<link rel="canonical" href="{{ site.url }} {{page.url}}" />
</head>
<body>
  
   <div class="container">
   <div class="scroll-line">
</div>

    <h1><a class="link1" href="https://www.seanqsun.com">Sean Q. Sun</a></h1>
	<nav>
        <!--a class="link2 back" href="#" onClick="history.go(-1);return true;"><<</a-->
    <a class="link2 about" href="/about">about</a>
        <a class="link2 work" href="/work/all">work</a>
	<a class="link2 misc" href="/misc">misc</a>
	<a class="link2 blog" href="/blog">blog</a>
	</nav>

    {{ content }}
    </div>

<script src="{{ site.baseurl }}/static/js/scroll-line.js"></script>
</body>
</html>
